[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
capstone_prediction_market = "72jWpfijYJqBf8L69Qw92o7tNKDBDKaiYUziDco7vMZL"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "wallet.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
